{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Kadro API",
    "version": "1.0.0",
    "description": "REST API of Kadro, consumed by the mobile app and the web app.\n\nEvery request except `GET /api/v1/health` and `POST /api/v1/webhooks/revenuecat` carries the `x-kadro-client` header (`mobile` or `web`); a missing or unknown value, or `mobile` together with an `Origin` header, is rejected with 400. Mobile clients authenticate with an ES256 access JWT (bearer); web clients with the `__Host-kadro_session` cookie and, on every mutation, the `x-csrf-token` header (double submit). A credential is accepted only on its own client type.\n\nErrors are RFC 9457 problem details (`application/problem+json`) with a stable `code`, never stack traces, SQL or input values. A resource the caller has no read relationship to answers 404, a readable resource without the permission answers 403, and a state conflict answers 409. Lists use cursor pagination: pass `nextCursor` back as `cursor`.\n\nAdmin routes (`/api/v1/admin/**`) need a moderator or admin session and, except step-up and TOTP enrollment, a TOTP step-up from the last 15 minutes (401 `step_up_required`). The RevenueCat webhook has no user principal and is authenticated by its shared secret in the `Authorization` header.\n\nExtensions: `x-kadro-policy-action` (authorization matrix action), `x-kadro-rate-limit` (matrix §8 group), `x-kadro-email-verified`, `x-kadro-step-up`, `x-kadro-auth`, `x-kadro-client`, `x-kadro-phase`."
  },
  "servers": [
    {
      "url": "https://kadro.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Uptime probe"
    },
    {
      "name": "auth",
      "description": "Registration, sign-in, token rotation and password reset"
    },
    {
      "name": "me",
      "description": "The signed-in user: profile, statistics, push tokens, account deletion"
    },
    {
      "name": "districts",
      "description": "Provinces and districts (il / ilçe): public reference data"
    },
    {
      "name": "teams",
      "description": "Teams, roster roles and invites"
    },
    {
      "name": "matches",
      "description": "Matches, RSVP, lineup, payment marking and MVP votes"
    },
    {
      "name": "open-calls",
      "description": "Eksik Var: open calls and applications"
    },
    {
      "name": "venues",
      "description": "Saha Rehberi: venue directory and reviews"
    },
    {
      "name": "uploads",
      "description": "Presigned avatar and badge uploads"
    },
    {
      "name": "webhooks",
      "description": "Inbound provider webhooks (RevenueCat); no user principal"
    },
    {
      "name": "admin",
      "description": "Staff area: TOTP step-up, moderation, venue import, roles and audit log"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Uptime probe: status and build SHA, no secrets",
        "tags": ["health"],
        "responses": {
          "200": {
            "description": "Service is up",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "exempt",
        "x-kadro-policy-action": null,
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": null,
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Register with email and password",
        "tags": ["auth"],
        "description": "Always 202 with an identical body and no session, whether or not the email exists (ADR-0015). A breached password is refused with 422.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accepted"
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Problem details; `code` is one of: password_breached",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 422
                        },
                        "code": {
                          "enum": ["password_breached"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.register",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Sign in with email and password",
        "tags": ["auth"],
        "description": "Mobile receives tokens; web receives the session and CSRF cookies. A sign-in with valid credentials during a self-initiated deletion grace period cancels the deletion and reactivates the account (ADR-0012); this is the only way to cancel a deletion, because a deactivated account has no usable session.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MobileAuthResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WebAuthResponse"
                    }
                  ],
                  "description": "Selected by the `x-kadro-client` header (mobile / web)."
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: invalid_credentials, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["invalid_credentials", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.login",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "operationId": "refresh",
        "summary": "Rotate the refresh token (mobile) or session cookie (web)",
        "tags": ["auth"],
        "description": "Reuse of a rotated token revokes the whole family (ADR-0019). Web sends an empty body, the session cookie and the CSRF header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RefreshRequestMobile"
                  },
                  {
                    "$ref": "#/components/schemas/RefreshRequestWeb"
                  }
                ],
                "description": "Selected by the `x-kadro-client` header (mobile / web)."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rotated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RefreshResponseMobile"
                    },
                    {
                      "$ref": "#/components/schemas/RefreshResponseWeb"
                    }
                  ],
                  "description": "Selected by the `x-kadro-client` header (mobile / web)."
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: unauthenticated, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["unauthenticated", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Problem details; `code` is one of: csrf_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 403
                        },
                        "code": {
                          "enum": ["csrf_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.refresh",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "R",
          "description": "Refresh token rotation",
          "max": 30,
          "windowSeconds": 900,
          "key": "refresh-family"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Revoke the presented session family",
        "tags": ["auth"],
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LogoutRequestMobile"
                  },
                  {
                    "$ref": "#/components/schemas/LogoutRequestWeb"
                  }
                ],
                "description": "Selected by the `x-kadro-client` header (mobile / web)."
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Signed out",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: unauthenticated, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["unauthenticated", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Problem details; `code` is one of: csrf_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 403
                        },
                        "code": {
                          "enum": ["csrf_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": [],
            "csrfToken": []
          }
        ],
        "x-kadro-auth": "required",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.logout",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "G",
          "description": "All other authenticated mutations",
          "max": 120,
          "windowSeconds": 60,
          "key": "user"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/verify-email": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Redeem a single-use email verification token",
        "tags": ["auth"],
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Email verified",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: token_invalid",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["token_invalid"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.verifyEmail",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/forgot": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Request a password reset email",
        "tags": ["auth"],
        "description": "Always 202 with an identical body (ADR-0015).",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accepted"
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.forgot",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/reset": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Set a new password with a reset token",
        "tags": ["auth"],
        "description": "Revokes every refresh token and session of the user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Password changed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: token_invalid",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["token_invalid"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Problem details; `code` is one of: password_breached",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 422
                        },
                        "code": {
                          "enum": ["password_breached"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.reset",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/apple": {
      "post": {
        "operationId": "signInWithApple",
        "summary": "Sign in with Apple (identity token, nonce-bound)",
        "tags": ["auth"],
        "description": "A sign-in with valid credentials during a self-initiated deletion grace period cancels the deletion and reactivates the account (ADR-0012); this is the only way to cancel a deletion, because a deactivated account has no usable session.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInWithAppleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MobileAuthResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WebAuthResponse"
                    }
                  ],
                  "description": "Selected by the `x-kadro-client` header (mobile / web)."
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: token_invalid, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["token_invalid", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Problem details; `code` is one of: account_link_required",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 409
                        },
                        "code": {
                          "enum": ["account_link_required"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.apple",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/auth/google": {
      "post": {
        "operationId": "signInWithGoogle",
        "summary": "Sign in with Google (ID token)",
        "tags": ["auth"],
        "description": "A sign-in with valid credentials during a self-initiated deletion grace period cancels the deletion and reactivates the account (ADR-0012); this is the only way to cancel a deletion, because a deactivated account has no usable session.",
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInWithGoogleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MobileAuthResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WebAuthResponse"
                    }
                  ],
                  "description": "Selected by the `x-kadro-client` header (mobile / web)."
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: token_invalid, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["token_invalid", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Problem details; `code` is one of: account_link_required",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 409
                        },
                        "code": {
                          "enum": ["account_link_required"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "x-kadro-auth": "none",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "auth.google",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": {
          "group": "A",
          "description": "Auth entry points (login, register, forgot, reset, verify-email, apple, google)",
          "max": 5,
          "windowSeconds": 900,
          "key": "ip+email"
        },
        "x-kadro-phase": 1
      }
    },
    "/api/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The caller's own profile",
        "tags": ["me"],
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "responses": {
          "200": {
            "description": "Own profile",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: unauthenticated, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["unauthenticated", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 503
                        },
                        "code": {
                          "enum": ["service_unavailable"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "x-kadro-auth": "required",
        "x-kadro-client": "required",
        "x-kadro-policy-action": "me.read",
        "x-kadro-email-verified": false,
        "x-kadro-step-up": false,
        "x-kadro-rate-limit": null,
        "x-kadro-phase": 1
      },
      "patch": {
        "operationId": "updateMe",
        "summary": "Update the self-writable profile fields",
        "tags": ["me"],
        "parameters": [
          {
            "$ref": "#/components/parameters/KadroClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "400": {
            "description": "Problem details; `code` is one of: validation_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 400
                        },
                        "code": {
                          "enum": ["validation_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Problem details; `code` is one of: unauthenticated, account_deactivated",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 401
                        },
                        "code": {
                          "enum": ["unauthenticated", "account_deactivated"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Problem details; `code` is one of: csrf_failed",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 403
                        },
                        "code": {
                          "enum": ["csrf_failed"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Problem details; `code` is one of: payload_too_large",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 413
                        },
                        "code": {
                          "enum": ["payload_too_large"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Problem details; `code` is one of: unsupported_media_type",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 415
                        },
                        "code": {
                          "enum": ["unsupported_media_type"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Problem details; `code` is one of: rate_limited",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 429
                        },
                        "code": {
                          "enum": ["rate_limited"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Problem details; `code` is one of: internal_error",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": 500
                        },
                        "code": {
                          "enum": ["internal_error"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Problem details; `code` is one of: service_unavailable",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Problem"
                    },
                    {
                      "type": "object",
                      "properties": {
[...]
