includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan/rules.php

parameters:
    level: 8
    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - routes
        - phpstan/Rules
    tmpDir: storage/framework/cache/phpstan
